'16S Metagenomic Sequencing Library Prep':
    strand: reverse
    single_end:
      adapter: 'CTGTCTCTTATACACATCT'
      trimmer: fastp
      fastp:
        params:
          '--low_complexity_filter  -l 150 '
    paired_end:
      adapter: 'CTGTCTCTTATACACATCT'
      adapter2: 'CTGTCTCTTATACACATCT' 
      trimmer: fastp
      fastp:
        params:
          '--low_complexity_filter  -l 150 --correction '